*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #333;
    font-size: 16px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    width: 70%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ddd;
    
}
#post{
    padding: 1em;
}
#container h1{
    font-size: 20px;
    
}
#header{
    padding: 0.5em;
    background-color: peru;
    font-weight: bold;
    font-size: 22px;
    margin:0;    
    color: #fff;

}
.footer{
    background-color: rgb(211, 129, 129);
    height: 560px;
    width: 560px;
    position: relative;    
    border-radius: 50%;
    transition: all ease-in 0.3s;
    

}
footer{    
    height: 280px;
    width: 280px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.texto{
    position: absolute;
    right: 300px;
    bottom: 360px;
    color: #fff;
    
}
.footer:hover{
    background-color: #333;
    cursor: pointer;
    
}