*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #333;
    font-size: 16px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    width: 70%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ddd;
    
}
#post{
    padding: 1em;
}
#container h1{
    font-size: 20px;
    
}
#header{
    padding: 0.5em;
    background-color: peru;
    font-weight: bold;
    font-size: 22px;
    margin:0;    
    color: #fff;
    display: flex;
    flex-basis: fill;
    align-items: center;
}
#logo{
    background-color: red;
    width: 50px;
    height: 100px;
    position: absolute;
}
#imagen{
    position: relative;
    width: 50px;
    height: 50px;
}
.title{
    text-align: center;
    padding: 2px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navbar-group{
    display: flex;
}
li{
    list-style:none;
    margin-right: 2em;
    padding: 3px;
}
.navbar-item:hover{
    cursor: pointer;
    text-decoration: underline;
}